<div class="separacion"></div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-8 col-sm-8 col-xs-12">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <p class="text-center">J y T abogados y asociados</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <p class="text-center"> Av. Javier Prado Oesto N. 798
            Magdalena del Mar Hollywood
          </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <p>Teléfono: (054)612349</p>
          <p class="especial"><strong>estudiodinner@dinner.com.pe</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="separacio"></div>


<div class="container-fluid">
  <div class="row final">
    <div class="col-md-offset-2 col-md-8 col-lg-8 col-xs-12 col-sm-12">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          © 2018 Dinner & Paredes. Abogados. Todos los derechos reservados.
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <ul>
            <li class="list-item">
              <a href="">Síguenos en LinkedIn</a>
            </li>
            <li class="list-item">|</li>
            <li class="list-item">
              <a href="">Facebook</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>