<carousel>
  <slide>
    <img src="assets/images/carousel1.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/carousel2.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/carousel3.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/carousel4.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>


<div class="separacion"></div>

<div class="container">
  <h2 class="titulo-upper">últimas noticas</h2>
  <div class="row">
    <div class="col-md-offset-2 col-sm-8">
      <div class="row">
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" style="background-image: url('/../assets/images/perfil3.jpeg')"></div>
              <mat-card-title>Dinner Paredes</mat-card-title>
              <mat-card-subtitle>La ley en tiempos del facebook</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/post1.jpeg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Leer más</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" style="background-image: url('/../assets/images/perfil2.jpg')"></div>
              <mat-card-title>Dinner Paredes 2</mat-card-title>
              <mat-card-subtitle>Jueces juzgados</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/post2.jpeg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Leer más</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" style="background-image: url('/../assets/images/perfil.jpeg')"></div>
              <mat-card-title>Dinner Paredes 3</mat-card-title>
              <mat-card-subtitle>Código Penal</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/post3.jpeg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Leer más</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="separacion">
  
</div>
<div class="container-fluid">
  <div class="row">
      <img class="ancho" src="assets/images/dinner.jpg" alt="">
  </div>



  </div>
