<div class="container-fluid">
  <div class="row">
    <img class="areas" src="assets/images/areas.jpg" alt="">
  </div>
</div>

<div class="separacion"></div>

<div class="container">
  <div class="row">
    <h3 class="titulo-upper">
      Nuestras Especialidades
    </h3>
    <div class="col-md-offset-2 col-lg-8 col-sm-8">
      <div class="row">
        <div class="col-md-4 col-sm-4 little_zoom">
            <img class="areasImg text-center" src="assets/images/area3.png" alt="">
            <p class="descripcion">Planificación Tributaria</p>
            <p>Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.</p>
        </div>
        <div class="col-md-4 col-sm-4 little_zoom">
            <img class="areasImg text-center" src="assets/images/area2.png" alt="">
            <p class="descripcion">Auditoria Tributaria</p>
            <p>Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.</p>

        </div>
        <div class="col-md-4 col-sm-4 little_zoom">
            <img class="areasImg text-center" src="assets/images/area6.png" alt="">
            <p class="descripcion">Asesoria Tributaria</p>
            <p>Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.</p>

        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-md-4 col-sm-4 little_zoom">
            <img class="areasImg text-center" src="assets/images/area1.png" alt="">
            <p class="descripcion">Control Tributario Permanente</p>
            <p>Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.</p>


        </div>
        <div class="col-md-4 col-sm-4 little_zoom">
            <img class="areasImg text-center" src="assets/images/area4.png" alt="">
            <p class="descripcion">Patrocinio de Procesos Tributarios</p>
            <p>Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.</p>

        </div>
        <div class="col-md-4 col-sm-4 little_zoom">
            <img class="areasImg text-center" src="assets/images/area5.png" alt="">
            <p class="descripcion">Precios de Transferencia</p>
            <p>Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.</p>

        </div>
      </div>
    </div>
  </div>
</div>